// Custom.scss
// Option A: Include all of Bootstrap

@use "../node_modules/bootstrap/scss/bootstrap";

// Include any default variable overrides here (though functions won't be available)
$primary: #6c757d; // Change primary color
$font-family-sans-serif: 'Roboto', sans-serif;


// Then add additional custom code here
.dark-theme {
  --bs-primary: #343a40;
  --bs-secondary: #adb5bd;
}

.form-control:focus {
  border-color: #f8f9fa;
  box-shadow: 0 0 0 0.25rem #696969;
}

#emailInput::placeholder {
  color: #f8f9fa;
  opacity: 1; /* Firefox */
}

